<%= tinymce %>
<h3> Publish Setlist</h3>





<%= form_for @setlist, :remote => true, :url => { :action => :publish_new } do |f| %>



<h4>Add A Message:</h4>
<%= f.text_area :publish_message, :class => "tinymce", :style => "height: 300px;"%>
<br>
 <%= f.hidden_field :id, value: @setlist.id %>
 <%= f.submit "Send Setlist", class: "btn btn-primary add_to_list", :onclick => "window.location.reload()" %>


<%end%>
