<%= tinymce %>
<h3> Publish Setlist</h3>



<%= form_for @setlist, :remote => true, :url => { :action => :publish_new } do |f| %>

<%= f.label :service_date %><br />
			<div class='input-group date' id='servicedate2'>
			<%= f.text_field :service_date, :class => "form-control", :data => { :behaviour => "datepicker"} %>
			<span class="input-group-addon"> <i class="fa fa-calendar"></i></span></div>

<h4>Add A Message:</h4>
<%= f.text_area :publish_message, :class => "tinymce", :style => "height: 300px;"%>
<br>
 <%= f.hidden_field :id, value: @setlist.id %>
 <%= f.submit "Send Setlist", class: "btn btn-primary add_to_list", :onclick => "window.location.reload()" %>


<%end%>


<script>
$(function() {

$('#servicedate2').datetimepicker({pickTime: false,format: 'YYYY-MM-DD'});

});


</script>
