<!-- Page Heading -->

<%= form_for @user do |f|  %>
<%= render "shared/error_messages", :target => @user %>
 
  <div class="row">
       <div class="col-lg-12">
           <div class="page-header">    <h1>
	<%= image_tag @user.avatar.url(:medium), :class => "profile_button_large"%>
           <%=@user.name%></h1>
		Change Avatar: <%= f.file_field :avatar %> </div> 
 
         
    
       </div>
   </div>

   <div class="row content_row">


	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li class="active"><a href="#account" role="tab" data-toggle="tab">Account</a></li>


	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	  <div class="tab-pane active" id="account">
		<div class="row">
		<div class="col-md-4">

			<br>

		<%= f.text_field :name, :placeholder => "Name", :class => "form-control" %><br />

		<%= f.text_field :email, :placeholder => "Email Address", :class => "form-control" %><br />

		<%= f.password_field :password, :placeholder => "Password", :class => "form-control" %><br />

		<%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "form-control" %>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-4" style="margin-top: -50px;">
		<br>

	    </div>
		</div>
	  </div>
	
	

	
<br>

<%= f.submit "Update", :class => "btn btn-primary" %>
<% end %>

</div>
