


<%= javascript_include_tag "sort_setlist.js"%>

<div style="padding: 10px;">
	<%= form_for current_setlist, remote: true do |f| %>
      		<%= f.label :service_date %><br />
			<div class='input-group date' id='servicedate' >
			<%= f.text_field :service_date, :class => "form-control", :data => { :behaviour => "datepicker"} %>
			<span class="input-group-addon"> <i class="fa fa-calendar"></i></span></div>
            <%= f.submit "Save Date", :class => "btn btn-primary", :style => "float: right; margin: 8px;" %>
      <% end %>
	<br><br>
<table class="table table-striped" id="sortable">
<th>Song</th>
<th>Leader</th>
<th>Remove</th>
<tr> 
 	
</tr>
	<% @setlist_items = current_setlist.setlist_items.rank(:song_order) %>
    <% @setlist_items.each do |item| %>
      <tr data-item-id=<%= "#{item.id}" %> class="item">
        <td> <%= item.song.song_title %></td>
		<td> <%= User.where("id = ?", item.leader_id).name %></td>
		<td><b><%= button_to '-', item, method: :delete, :class => "btn, btn-danger" %></b></td>
</tr>
    <% end %>
 


</table>


<% if @setlist.published? %>
<a href= "/publish_new?id=<%=@setlist.id%>" class="btn btn-success">Send Updated Set</span>
<% else %>
<a href= "/publish_new?id=<%=@setlist.id%>" class="btn btn-success">Send Setlist</span>
<% end %>

<br> 
<a style="float: right;" href="/setlists">View All Setlists</a>


