


<%= javascript_include_tag "sort_setlist.js"%>
<%= javascript_include_tag "jqtouch.js"%>

<script> $(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>

<div style="padding: 10px;">
<table class="table table-striped" id="sortable">
<th>Song</th>
<th>Leader</th>
<th>Remove</th>
<tr> 
 	
</tr>




    <% @vocalists = Role.find_by_name('vocalist').users %>
	<% @setlist_items = current_setlist.setlist_items.rank(:song_order) %>
    <% @setlist_items.each do |item| %>
      <tr data-item-id=<%= "#{item.id}" %> class="item">
        <td> <%= item.song.song_title %></td>
		<td> <%= form_for item, :remote => true do |f|  %>
			<%= best_in_place item, :leader_id, :type => :select, :collection => @vocalists.collect {|p| [ p.id, p.name ]}, :value => "Select A Leader"  %>

			<%end%>
			</td>
		<td><b><%= button_to '-', item, method: :delete, :class => "btn, btn-danger" %></b></td>
</tr>
    <% end %>
 


</table>

<a href="/publish?id=<%=current_setlist.id%>&view=popup" data-toggle="modal" data-target="#remoteModal2" class="btn btn-success btn" style="float: left;">Publish Setlist</a>
<br> 


<a style="float: right;" href="/setlists">View All Setlists</a>



