


<%= javascript_include_tag "sort_setlist.js"%>

<script> $(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>

<div style="padding: 10px;">
	<%= form_for current_setlist, remote: true do |f| %>
      		<%= f.label :service_date %><br />
			<div class='input-group date' id='servicedate' >
			<%= f.text_field :service_date, :class => "form-control", :data => { :behaviour => "datepicker"} %>
			<span class="input-group-addon"> <i class="fa fa-calendar"></i></span></div>
            <%= f.submit "Save Date", :class => "btn btn-primary", :style => "float: right; margin: 8px;" %>
      <% end %>
	<br><br>
<table class="table table-striped" id="sortable">
<th>Song</th>
<th>Leader</th>
<th>Remove</th>
<tr> 
 	
</tr>
	<% @setlist_items = current_setlist.setlist_items.rank(:song_order) %>
    <% @setlist_items.each do |item| %>
      <tr data-item-id=<%= "#{item.id}" %> class="item">
        <td> <%= item.song.song_title %></td>
		<td> <%= form_for item, :remote => true do |f|  %>
			<%= best_in_place item, :leader_id, :type => :select, :collection => User.all.collect {|p| [ p.id, p.name ]}  %>

			<%end%>
			</td>
		<td><b><%= button_to '-', item, method: :delete, :class => "btn, btn-danger" %></b></td>
</tr>
    <% end %>
 


</table>

<a href="/publish?id=<%=current_setlist.id%>&view=popup" data-toggle="modal" data-target="#remoteModal2" class="btn btn-success btn" style="float: left;">Publish Setlist</a>
<br> 


<a style="float: right;" href="/setlists">View All Setlists</a>



