<!-- Page Heading -->

<div class="row content_row" style="margin-top: 30px;">

<div class="row">

<div class = "col-md-5">
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>This Weeks Setlist</strong></div>
  <div class="panel-body" >
      <% if !thisweek_setlist.nil? %>
    <p> <%=thisweek_setlist.publish_message %></p>
      <% end %>
  </div>
 <% if !thisweek_setlist.nil? %>
  <!-- Table -->
<table class="table">
	<% thisweek_setlist.setlist_items.rank(:song_order).each do |item| %>
		<tr>
			<td><a href ="/songs/<%=item.song.id%>"><%= item.song.song_title %></a> <% if item.song.alt_title.blank? %> <%else%> (<%= item.song.alt_title %>) <%end%></td>
			<td><%= item.song.key %></td>
			<td><% if !item.song.chart.file? %> <i class="fa fa-lg fa-times-circle" title="Missing"></i> <%else%> <a href =<%= item.song.chart.url %>> <i class="fa fa-lg fa-cloud-download"></i></a> <%end%></td>
			<td><% if !item.song.vocal_sheet.file? %> <i class="fa fa-lg fa-times-circle" title="Missing"></i><%else%> <a href =<%= item.song.vocal_sheet.url %>> <i class="fa fa-lg fa-cloud-download"></i></a><%end%></td>
			
		</tr>
	<% end %>
</table>
<%else%>
  <center> <h4>No Setlist Published for This Week</h4></center>

<%end%>


    </div>
</div>



<div class = "col-md-7">
<div class="panel panel-danger">
	<div class="panel-heading"><strong>Team Wall</strong></div>
	<div class="panel-body">
		</div>

		<div class="row">
		<div class="col-md-2" style="margin: 10px;">	<%= image_tag current_user.avatar.url(:medium), :class => "profile_button_large"%></div>
		<div class="col-md-9" style="margin: 10px;">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
		</div>

	</div>
</div>
</div>

</div>


</div>


