<!-- Page Heading -->

<div class="row content_row" style="margin-top: 30px;">

<div class="row">

<div class = "col-md-6">
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>This Weeks Setlist</strong></div>
  <div class="panel-body" >
      <% if !thisweek_setlist.nil? %>
   <%=thisweek_setlist.publish_message.to_s.html_safe %>
      <% end %>
  </div>
 <% if !thisweek_setlist.nil? %>
  <!-- Table -->
<table class="table">
    <th></th>
    <th>Key</th>
    <th>Leader</th>
    <th>Chord Chart</th>
    <th>Vocal Sheet</th>
	<% thisweek_setlist.setlist_items.rank(:song_order).each do |item| %>
		<tr>
			<td><a href ="/songs/<%=item.song.id%>"><%= item.song.song_title %></a> <% if item.song.alt_title.blank? %> <%else%> (<%= item.song.alt_title %>) <%end%></td>
			<td><%= item.song.key %></td>
            <td><% if item.leader_id? %><%= User.where('id = ?',item.leader_id).last.name.split(" ")[0] %><%end%></td>
			<td><% if !item.song.chart.file? %> <i class="fa fa-lg fa-times-circle" title="Missing"></i> <%else%> <a href =<%= item.song.chart.url %>> <i class="fa fa-lg fa-cloud-download"></i></a> <%end%></td>
			<td><% if !item.song.vocal_sheet.file? %> <i class="fa fa-lg fa-times-circle" title="Missing"></i><%else%> <a href =<%= item.song.vocal_sheet.url %>> <i class="fa fa-lg fa-cloud-download"></i></a><%end%></td>
			
		</tr>
	<% end %>
</table>
<%else%>
  <center> <h4>No Setlist Published for This Week</h4></center>

<%end%>


    </div>
</div>


    <% @posts = Post.find(:all, :order => "id", :limit => 5).reverse %>

<div class = "col-md-6">
<div class="panel panel-default">
	<div class="panel-heading"><strong>Team Wall</strong></div>
	<div class="panel-body">

        <% @posts.each do |post| %>
		<div class="row">
		<div class="col-md-2" style="margin: 10px;"><center>	<%= image_tag post.user.avatar.url(:medium), :class => "profile_button_large"%>
            <br><b><%= post.user.name %></center></b>

            </div>
		<div class="col-md-9" style="margin: 10px;"><%= post.message.html_safe %>
            <% if post.user == current_user %>
            <span>
            <%= link_to 'Delete This Post', post, method: :delete, data: { confirm: 'Are you sure?' }, :style => "float: right;" %>
           </span>
            <%else%>
            <%end%>
         </div>
        </div>
        <%end%>
            <a href="/posts/new?view=popup" data-toggle="modal" data-target="#remoteModal3" class="btn btn-success btn" style="float: left;"> Add Post</a>
	  <div class="modal fade" id="remoteModal3" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content"></div>
	    </div>
    </div>





	</div>
</div>
</div>

</div>


</div>


