<% if current_user %> 

<%= javascript_include_tag "navbar.js"%> 
<nav class="navbar navbar-inverse navbar-yellow navbar-fixed-top " role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand" href="/"><i class="fa fa-music"></i> Set<span style="color: #999">Builder</span></a>
        </div>
        <!-- Top Menu Items -->

        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">

	<span class="badge setlist_icon" style="background-color: #428bca; margin-left: 5px;">Working Setlist
		<% if current_setlist.setlist_items.count > 0 %>
		<span class="badge setlist_icon" style="background-color: #5cb85c; margin-left: 5px;"><%=current_setlist.setlist_items.count%></span>
		<%end%>

		</span>
	
	</a></a>
                <ul class="dropdown-menu" style="width: 400px;">
                  	<li ><%=  render "shared/current_set_edit" %></li>   
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">	<%= image_tag current_user.avatar.url(:medium), :class => "profile_button_tiny"%> <%= current_user.name %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="/"><i class="fa fa-fw fa-tachometer"></i>Dashboard</a>
                </li>

				<li>
                    <a href="/songs"><i class="fa fa-fw fa-music"></i> Song Search</a>
                </li>
			
      			<li>
					
                    <a href="javascript:;" data-toggle="collapse" data-target="#setlist_menu"><i class="fa fa-fw fa-list"></i> Manage Setlists <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="setlist_menu" class="collapse">
                        <li>
                          <a href="/setlists">Saved Set's</a>
                        </li>
                        <li>
                            <a href="/setlists/new">Create New</a>
                        </li>
                    </ul>
                </li>

					<% if current_user.roles.where(:name =>"admin").present?%>
                <li>
					
                    <a href="javascript:;" data-toggle="collapse" data-target="#admin_menu"><i class="fa fa-fw fa-gears"></i> Administration <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="admin_menu" class="collapse">
                        <li>
                          <a href="/users">Manage Users</a>
                        </li>
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                    </ul>
                </li>
			
               <%end%>



            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

<%else%>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Church<span style="color: #999">OS</span></a>
        </div>
</nav>
<%end%>
