<p><%=@setlist.publish_message.html_safe %></p>



<h3>Setlist For <%=@setlist.service_date%></h3>


<ul>
<% @setlist_items.each do |item|%>
<li><a href="http://setbuilder.run.church/songs/<%=item.song.id%>"> <%= item.song.song_title %> - <%= item.song.key %> - <%= User.where('id = ?',item.leader_id).last.name.split(" ")[0] %> </a></li>
<% end %>

</ul>
