
<h2 class="page-header"> Song Search 
<%= link_to 'Add Song', new_song_path, :class => "btn btn-success", :style => "float: right;" %>	</h2>


<%= javascript_include_tag "song.js" %>




<div class="row content_row">




<%= form_tag songs_path, :method => 'get', :id => "song_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>

<% end %>

 <div id="songs"><%= render 'song_list' %></div>


</div>

